<VirtualHost *:80>
  ServerName {{ bitbucket_url_basename }}
  ErrorLog ${APACHE_LOG_DIR}/error.log
  CustomLog ${APACHE_LOG_DIR}/access.log combined
  <Proxy *>
      Order deny,allow
      Allow from all
  </Proxy>
  ProxyRequests         Off
  ProxyPreserveHost     On
  ProxyPass             /    http://localhost:7990/
  ProxyPassReverse      /    http://localhost:7990/
</VirtualHost>
